In [567]:
#Heroes Of Pymoli - Pandas/Jupyter Notebook homework
#Eddie Buckalew
#01/23/2021

In [568]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_draft = pd.read_csv(file_to_load)
purchase_data_draft.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [569]:
#display count of totals
purchase_data_draft.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [570]:
#set index, rename column, and create master table
purchase_data_si = purchase_data_draft.set_index("Purchase ID")
purchase_data_master = purchase_data_si.rename(columns = {'SN':"Player"})
#preview dataframe
purchase_data_master.head()

,Player,Age,Gender,Item ID,Item Name,Price
Purchase ID,,,,,,
0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,Ithergue48,24,Male,92,Final Critic,4.88
3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,Iskosia90,23,Male,131,Fury,1.44

In [571]:
#purchasing analysis (total)

#run calculation to obtain number of unique items, average price, number of purchases, total revenue
unique_item_count = len(purchase_data_master['Item Name'].unique())
purchase_data_master['Price'].astype(float)
average_price = purchase_data_master['Price'].mean()
number_of_purchases = len(purchase_data_master['Player'])
total_revenue = sum(purchase_data_master['Price'])

#create summary dataframe to hold results
purchase_analysis = pd.DataFrame({"Number Of Unique Items": [unique_item_count],"Average Price":[average_price],
                                     "Number Of Purchases":[number_of_purchases],"Total Revenue":[total_revenue]})

#format Avg Price and Total Revenue to currency
purchase_analysis["Average Price"] = purchase_analysis["Average Price"].astype(float).map("${:,.2f}".format)
purchase_analysis["Total Revenue"] = purchase_analysis["Total Revenue"].astype(float).map("${:,.2f}".format)

#display results
purchase_analysis

   Number Of Unique Items Average Price  Number Of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [572]:
#gender demographics
#percentage and count of male players
#percentage and count of female players
#percentage and count of other/non-disclosed

#calculate and store unique player count for analysis
unique_player_count = len(purchase_data_master['Player'].unique())

#set unique player table
unique_player_table = purchase_data_master.drop_duplicates("Player")
unique_player_table_master = unique_player_table

#set initial summary table using value counts and converting to frame
gender_summary_draft = unique_player_table["Gender"].value_counts().to_frame()

#set percent total
percent_total = 0

#add column to dataframe
gender_summary_draft['Percent Total'] = percent_total

#update calcution for percent total
gender_summary_draft['Percent Total'] = (gender_summary_draft['Gender']/unique_player_count)*100

#format column to percent
gender_summary_draft['Percent Total'] = gender_summary_draft['Percent Total'].astype(float).map("{:,.2f}%".format)

#rename dataframe to shortened version
gender_summary = gender_summary_draft

#display dataframe
gender_summary

                       Gender Percent Total
Male                      484        84.03%
Female                     81        14.06%
Other / Non-Disclosed      11         1.91%

In [573]:
#purchase analysis (gender)

#build initial table by initializing count and sum tables and merging
grouped_pd_mastercount = purchase_data_master.groupby(['Gender']).count()
grouped_pd_mastersum = purchase_data_master.groupby(['Gender']).sum()
grouped_pd_draftmerge = pd.merge(grouped_pd_mastercount,grouped_pd_mastersum,on="Gender")
grouped_pd_draftmergesi = grouped_pd_draft.rename(columns = {'Player':"Total Purchases",'Price_y':"Total Purchase Value"})

#add unique player counts to dataframe
grouped_pd_draftmergesi['Unique Player Count'] = gender_summary['Gender']

#add average purchase price to dataframe
grouped_pd_draftmergesi['Average Purchase Price'] = 0
grouped_pd_draftmergesi['Average Purchase Price'] = grouped_pd_draftmergesi['Total Purchase Value'].div(grouped_pd_draftmergesi['Total Purchases'])

#add average total purchase per person to dataframe
grouped_pd_draftmergesi['Average Total Purchase Per Person'] = 0
grouped_pd_draftmergesi['Average Total Purchase Per Person'] = grouped_pd_draftmergesi['Total Purchase Value'].div(grouped_pd_draftmergesi['Unique Player Count'])

#format data columns
grouped_pd_draftmergesi['Total Purchase Value'] = grouped_pd_draftmergesi['Total Purchase Value'].astype(float).map(
    "${:,.2f}".format)
grouped_pd_draftmergesi['Average Purchase Price'] = grouped_pd_draftmergesi['Average Purchase Price'].astype(float).map("${:,.2f}".format)
grouped_pd_draftmergesi['Average Total Purchase Per Person'] = grouped_pd_draftmergesi['Average Total Purchase Per Person'].astype(float).map("${:,.2f}".format)

#drop columns not needed in final table and shorten naming convention
grouped_pd_draftmergedrop = grouped_pd_draftmergesi.drop(columns=['Age_x','Item ID_x','Item Name','Price_x','Age_y','Item ID_y','Unique Player Count'])
grouped_pd = grouped_pd_draftmergedrop
grouped_pd

,Total Purchases,Total Purchase Value,Average Purchase Price,Average Total Purchase Per Person
Gender,,,,
Female,113,$361.94,$3.20,$4.47
Male,652,"$1,967.64",$3.02,$4.07
Other / Non-Disclosed,15,$50.19,$3.35,$4.56

In [574]:
#age demographics

#create bins and labels by age group
bins = [0,9,14,19,24,29,34,39,100]
age_ranges = ["Under 10","10-14","15-19","20-24","25-29","30-34","35-39","40 And Over"]

#categorize the existing players using the age bins, using pd.cut()
unique_player_table_master['Age Group'] = pd.cut(unique_player_table_master["Age"],bins,labels=age_ranges,include_lowest=True)

#new table with counts by age group
age_summary_draft = unique_player_table_master_bin.groupby("Age Group").count()
age_summary = age_summary_draft.drop(columns=['Player','Gender','Item ID','Item Name','Price'])
age_summary
agesummary = age_summary.rename(columns={'Age':'Total Count'})
agesummary

#add column to calculate percentage using stored unique player count and format
agesummary['Percentage Of Players'] = 0
agesummary['Percentage Of Players'] = (agesummary['Total Count'].div(unique_player_count))*100
agesummary['Percentage Of Players'] = agesummary['Percentage Of Players'].astype(float).map("{:,.2f}%".format)

agesummary

#calculate numbers and percentages by age group
#create a summary data frame to hold the results
#optional: round the percentage column to two decimal points
#display age demographics table

<ipython-input-574-c09a7750c761>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_player_table_master['Age Group'] = pd.cut(unique_player_table_master["Age"],bins,labels=age_ranges,include_lowest=True)

             Total Count Percentage Of Players
Age Group
Under 10              17                 2.95%
10-14                 22                 3.82%
15-19                107                18.58%
20-24                258                44.79%
25-29                 77                13.37%
30-34                 52                 9.03%
35-39                 31                 5.38%
40 And Over           12                 2.08%

In [575]:
#purchase analysis (age)

#bin the data frame by age
purchase_data_master['Age Group'] = pd.cut(purchase_data_master["Age"],bins,labels=age_ranges,include_lowest=True)
age_purch_draft = purchase_data_master

#set up left and right tables for merge
left_table = age_purch_draft.groupby('Age Group').count()
right_table = age_purch_draft.groupby('Age Group').sum()
age_purch_analysis_draft_rough = pd.merge(left_table,right_table,on="Age Group")
#merge previous table to bring in unique value counts by age group
age_purch_analysis_draft = pd.merge(age_purch_analysis_draft_rough,agesummary,on="Age Group")

#organize dataframe by dropping and renaming columns
age_purchase_analysis_columnclean = age_purch_analysis_draft.drop(columns=['Age_x','Gender','Item ID_x',
                                                                           'Item Name','Price_x','Age_y','Item ID_y'])
age_purchase_analysis_columnclean
age_purchase_analysis = age_purchase_analysis_columnclean.rename(columns={'Player':'Purchase Count',
                                                                          'Price_y':'Total Purchase Value'})
age_purchase_analysis



#run calculation to obtain average purchase price, average total purchase per person
age_purchase_analysis['Average Purchase Price'] = 0
age_purchase_analysis['Average Purchase Price'] = age_purchase_analysis['Total Purchase Value'].div(age_purchase_analysis['Purchase Count'])

age_purchase_analysis['Avg Total Purchase Per Person'] = 0
age_purchase_analysis['Avg Total Purchase Per Person'] = age_purchase_analysis['Total Purchase Value'].div(age_purchase_analysis['Total Count'])

#format data columns
age_purchase_analysis['Total Purchase Value'] = age_purchase_analysis['Total Purchase Value'].astype(float).map("${:,.2f}".format)
age_purchase_analysis['Average Purchase Price'] = age_purchase_analysis['Average Purchase Price'].astype(float).map("${:,.2f}".format)
age_purchase_analysis['Avg Total Purchase Per Person'] = age_purchase_analysis['Avg Total Purchase Per Person'].astype(float).map("${:,.2f}".format)
age_purchase_analysis

#drop total count and percentage of players columns from final table
age_purchase_analysis_final = age_purchase_analysis.drop(columns=['Total Count','Percentage Of Players'])
age_purchase_analysis_final = age_purchase_analysis_final[['Purchase Count','Average Purchase Price','Total Purchase Value','Avg Total Purchase Per Person']]

#create a summary data frame to hold the results
#optional: give displayed data cleaner formatting
#display the summary data frame
age_purchase_analysis_final

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Age Group,,,,
Under 10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40 And Over,13,$2.94,$38.24,$3.19

In [576]:
#top spenders

#call master table
purchase_data_recall = pd.read_csv(file_to_load)
purchase_data_draft = purchase_data_recall.set_index("Purchase ID")
purchase_data = purchase_data_draft.rename(columns = {'SN':"Player"})

#merge data sets for analysis
groupID_purchase_analysis_l = purchase_data.groupby('Player').sum()
groupID_purchase_analysis_r = purchase_data.groupby('Player').count()
groupID_purchase_analysis_draft = pd.merge(groupID_purchase_analysis_l,groupID_purchase_analysis_r,on="Player")
groupID_purchase_analysis_draft

#organize dataframe by dropping and renaming columns
groupID_purchase_analysis_columnclean = groupID_purchase_analysis_draft.drop(columns=['Age_x','Item ID_x',
                                                                           'Item Name','Age_y','Item ID_y','Price_y'])
#groupID_purchase_analysis_columnclean
groupID_purchase_analysis = groupID_purchase_analysis_columnclean.rename(columns={'Gender':'Purchase Count',
                                                                        'Price_x':'Total Purchase Value'})

#create a summary data frame to hold the results
groupID_purchase_analysis

#run calculation to obtain average purchase price
groupID_purchase_analysis['Average Purchase Price'] = 0
groupID_purchase_analysis['Average Purchase Price'] = groupID_purchase_analysis['Total Purchase Value'].div(groupID_purchase_analysis['Purchase Count'])

#format data columns
groupID_purchase_analysis['Average Purchase Price'] = groupID_purchase_analysis['Average Purchase Price'].astype(float).map("${:,.2f}".format)


#reorder columns
groupID_purchase_analysis = groupID_purchase_analysis[['Purchase Count','Average Purchase Price','Total Purchase Value']]

#sort the total purchase value column in descending order
groupID_purchase_analysis_final = groupID_purchase_analysis.sort_values(by=['Total Purchase Value'],ascending=False)

#format data total purchase value column
groupID_purchase_analysis_final['Total Purchase Value'] = groupID_purchase_analysis_final['Total Purchase Value'].astype(float).map("${:,.2f}".format)

#call dataframe
groupID_purchase_analysis_final

#display a preview of the summary data frame
groupID_purchase_analysis_final.head()

#optional: give displayed data cleaner formatting

             Purchase Count Average Purchase Price Total Purchase Value
Player
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [580]:
#most popular items
#retrieve item id, item name, and item price columns

#call master table
purchase_data_recall = pd.read_csv(file_to_load)
#set Item ID as key
purchase_data_draft = purchase_data_recall.set_index("Item ID")
purchase_data = purchase_data_draft.rename(columns = {'SN':"Player"})


#retrieve item id, item name, and item price columns
purchase_data_analysis_l = purchase_data.groupby(['Item ID','Item Name']).sum()
purchase_data_analysis_r =purchase_data.groupby(['Item ID','Item Name']).count()
purchase_data_items_merge = pd.merge(purchase_data_analysis_l,purchase_data_analysis_r,on=["Item ID","Item Name"])
purchase_data_items_merge.head()

#organize dataframe by dropping and renaming columns
purchase_data_items_merge_columnclean = purchase_data_items_merge.drop(columns=['Age_x','Age_y','Price_y',
                                                                                'Purchase ID_x','Purchase ID_y','Player'])

#groupID_purchase_analysis_columnclean
item_purchase_analysis_draft = purchase_data_items_merge_columnclean.rename(columns={'Gender':'Purchase Count',
                                                                        'Price_x':'Total Purchase Value'})

#calculation avg purchase price
item_purchase_analysis_draft['Average Purchase Price'] = 0
item_purchase_analysis_draft['Average Purchase Price'] = item_purchase_analysis_draft['Total Purchase Value'].div(item_purchase_analysis_draft['Purchase Count'])

item_purchase_analysis_draft_next = item_purchase_analysis_draft[['Purchase Count','Average Purchase Price','Total Purchase Value']]

#format data columns
item_purchase_analysis_final['Total Purchase Value'] = item_purchase_analysis_draft_next['Total Purchase Value'].astype(float).map("${:,.2f}".format)
item_purchase_analysis_final['Average Purchase Price'] = item_purchase_analysis_draft_next['Average Purchase Price'].astype(float).map("${:,.2f}".format)

#sort the total purchase value column in descending order
item_purchase_analysis = item_purchase_analysis_final.sort_values(by=['Purchase Count'],ascending=False)
item_purchase_analysis

#optional: give displayed data cleaner formatting
#display a preview of the summary data frame
item_purchase_analysis.head()

,,Purchase Count,Average Purchase Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [581]:
#most profitable items

#call table
item_purchase_analysis

#sort the above table by total purchase value in descending order
item_purchase_analysis_final = item_purchase_analysis.sort_values(by=['Total Purchase Value'],ascending=False)

#optional: give the displayed data cleaner formatting
#display a preview of the data frame
item_purchase_analysis.head()

,,Purchase Count,Average Purchase Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77