In [19]:
#Heroes Of Pymoli - Pandas/Jupyter Notebook homework
#Eddie Buckalew
#01/23/2021

In [31]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [43]:
#display count of totals
purchase_data.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [49]:
#rename column and create master table
purchase_data_master = purchase_data.rename(columns = {'SN':"Player"})
purchase_data_master.head()

,Purchase ID,Player,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [51]:
#player count
#display total number of players
player_count = len(purchase_data_master['Player'].unique())
player_summary_df = pd.DataFrame({"Total Unique Players": [player_count]})
player_summary_df.head()

   Total Unique Players
0                   576

In [121]:
#purchasing analysis (total)
#run calculation to obtain number of unique items, arverage price, number of purchases, total revenue
unique_item_count = len(purchase_data_master['Item Name'].unique())
purchase_data_master['Price'].astype(float)
average_price = purchase_data_master['Price'].mean()
number_of_purchases = len(purchase_data_master['Purchase ID'])
total_revenue = sum(purchase_data_master['Price'])
#create summary dataframe to hold results
purchase_analysis = pd.DataFrame({"Number Of Unique Items": [unique_item_count],"Average Price":[average_price],
                                     "Number Of Purchases":[number_of_purchases],"Total Revenue":[total_revenue]})
#format Avg Price and Total Revenue to currency
purchase_analysis["Average Price"] = purchase_analysis["Average Price"].astype(float).map("${:,.2f}".format)
purchase_analysis["Total Revenue"] = purchase_analysis["Total Revenue"].astype(float).map("${:,.2f}".format)

In [122]:
#display summary dataframe
purchase_analysis.head()

   Number Of Unique Items Average Price  Number Of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [91]:
#gender demographics
#percentage and count of male players
#percentage and count of female players
#percentage and count of other/non-disclosed

In [24]:
#purchase analysis (gender)
#run calculation to obtain purchase count, average purchase price, total purchase value, average total purchase per person
#create a summary data frame to hold the results
#optional: give displayed data cleaner formatting
#display the summary data frame

In [25]:
#age demographics
#establish bins for ages
#categorize the existing players using the age bins, use pd.cut()
#calculate numbers and percentages by age group
#create a summary data frame to hold the results
#optional: round the percentage column to two decimal points
#display age demographics table

In [26]:
#purchase analysis (age)
#bin the data frame by age
#run calculation to obtain purchase count, average purchase price, total purchase value, average total purchase per person
#create a summary data frame to hold the results
#optional: give displayed data cleaner formatting
#display the summary data frame

In [27]:
#top spenders
#run calculation to obtain purchase count, average purchase price, total purchase value
#create a summary data frame to hold the results
#sort the total purchase value column in descending order
#optional: give displayed data cleaner formatting
#display a preview of the summary data frame

In [28]:
#most popular items
#retrieve item id, item name, and item price columns
#group by item id and item name. perform calculations to obtain purchase count, average item price, and total purchase value
#create a summary data frame to hold the results
#sort the purchase count column in descending order
#optional: give displayed data cleaner formatting
#display a preview of the summary data frame

In [29]:
#most profitable items
#sort the above table by total purchase value in descending order
#optional: give the displayed data cleaner formatting
#display a preview of the data frame