In [260]:
#Heroes Of Pymoli - Pandas/Jupyter Notebook homework
#Eddie Buckalew
#01/23/2021

In [261]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [262]:
#display count of totals
purchase_data.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [263]:
#set index, rename column, and create master table
purchase_data_setindex = purchase_data.set_index("Purchase ID")
purchase_data_master = purchase_data_setindex.rename(columns = {'SN':"Player"})
purchase_data_master.head()

,Player,Age,Gender,Item ID,Item Name,Price
Purchase ID,,,,,,
0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,Ithergue48,24,Male,92,Final Critic,4.88
3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,Iskosia90,23,Male,131,Fury,1.44

In [264]:
#purchasing analysis (total)

#run calculation to obtain number of unique items, average price, number of purchases, total revenue
unique_item_count = len(purchase_data_master['Item Name'].unique())
purchase_data_master['Price'].astype(float)
average_price = purchase_data_master['Price'].mean()
number_of_purchases = len(purchase_data_master['Player'])
total_revenue = sum(purchase_data_master['Price'])

#create summary dataframe to hold results
purchase_analysis = pd.DataFrame({"Number Of Unique Items": [unique_item_count],"Average Price":[average_price],
                                     "Number Of Purchases":[number_of_purchases],"Total Revenue":[total_revenue]})

#format Avg Price and Total Revenue to currency
purchase_analysis["Average Price"] = purchase_analysis["Average Price"].astype(float).map("${:,.2f}".format)
purchase_analysis["Total Revenue"] = purchase_analysis["Total Revenue"].astype(float).map("${:,.2f}".format)

#display results
purchase_analysis

   Number Of Unique Items Average Price  Number Of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [271]:
#gender demographics
#percentage and count of male players
#percentage and count of female players
#percentage and count of other/non-disclosed

#calculate and store unique player count for analysis
unique_player_count = len(purchase_data_master['Player'].unique())

#set unique player table
unique_player_table = purchase_data_master.drop_duplicates("Player")

#set initial summary table using value counts and converting to frame
gender_summary_draft = unique_player_table["Gender"].value_counts().to_frame()

#set percent total
percent_total = 0

#add column to dataframe
gender_summary_draft['Percent Total'] = percent_total

#update calcution for percent total
gender_summary_draft['Percent Total'] = (gender_summary_draft['Gender']/unique_player_count)*100

#format column to percent
gender_summary_draft['Percent Total'] = gender_summary_draft['Percent Total'].astype(float).map("{:,.2f}%".format)

#rename dataframe to shortened version
gender_summary = gender_summary_draft

#display dataframe
gender_summary

                       Gender Percent Total
Male                      484        84.03%
Female                     81        14.06%
Other / Non-Disclosed      11         1.91%

In [310]:
#purchase analysis (gender)

#build tables
grouped_pd_mastercount = purchase_data_master.groupby(['Gender']).count()
grouped_pd_mastersum = purchase_data_master.groupby(['Gender']).sum()
grouped_pd_draftmerge = pd.merge(grouped_pd_mastercount,grouped_pd_mastersum,on="Gender")
grouped_pd_draftmergesi = grouped_pd_draft.rename(columns = {'Player':"Total Purchases",'Price_y':"Total Purchase Value"})


#add unique player counts to dataframe
grouped_pd_draftmergesi['Unique Player Count'] = gender_summary['Gender']

#set initial totals for calculations


#add calculated columns to dataframe
grouped_pd_draftmergesi['Average Purchase Price'] = 0
grouped_pd_draftmergesi['Average Purchase Price'] = grouped_pd_draftmergesi['Total Purchase Value'].div(grouped_pd_draftmergesi['Total Purchases'])

#add calculated columns to dataframe
grouped_pd_draftmergesi['Average Total Purchase Per Person'] = 0
grouped_pd_draftmergesi['Average Total Purchase Per Person'] = grouped_pd_draftmergesi['Total Purchase Value'].div(grouped_pd_draftmergesi['Unique Player Count'])


#format columns
grouped_pd_draftmergesi['Total Purchase Value'] = grouped_pd_draftmergesi['Total Purchase Value'].astype(float).map("${:,.2f}".format)
grouped_pd_draftmergesi['Average Purchase Price'] = grouped_pd_draftmergesi['Average Purchase Price'].astype(float).map("${:,.2f}".format)
grouped_pd_draftmergesi['Average Total Purchase Per Person'] = grouped_pd_draftmergesi['Average Total Purchase Per Person'].astype(float).map("${:,.2f}".format)

#drop columns not needed in final table
#grouped_pd_draftmergedrop = grouped_pd_draftmergesi.drop(columns=['Age_x','Item ID_x','Item Name','Price_x','Age_y','Item ID_y','Unique Player Count'])

grouped_pd_draftmergesi.head()

,Total Purchases,Age_x,Item ID_x,Item Name,Price_x,Age_y,Item ID_y,Total Purchase Value,Unique Player Count,Average Purchase Price,Average Total Purchase Per Person
Gender,,,,,,,,,,,
Female,113,113,113,113,113,2412,9659,$361.94,81,$3.20,$4.47
Male,652,652,652,652,652,14942,60698,"$1,967.64",484,$3.02,$4.07
Other / Non-Disclosed,15,15,15,15,15,363,1212,$50.19,11,$3.35,$4.56

In [273]:
#set initial totals
rename_1 = 0
rename_2 = 0
rename_3 = 0

#add unique player counts to dataframe
grouped_pd['Unique Player Count'] = gender_summary['Gender']
f
#add calculated columns to dataframe
grouped_pd['Average Purchase Price'] = rename_1
grouped_pd['Total Purchase Value'] = rename_2
grouped_pd['Average Total Purchase Per Person'] = rename_3

#final_grouped_pd = grouped_pd_master.drop(columns=['Age','Item ID','Item Name','Price','Unique Player Count'])
#final_grouped_pd
grouped_pd.head()


#create a summary data frame to hold the results
#optional: give displayed data cleaner formatting
#display the summary data frame

,Total Purchases,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person,Unique Player Count
Gender,,,,,
Female,113,0,0,0,81
Male,652,0,0,0,484
Other / Non-Disclosed,15,0,0,0,11

In [254]:
#age demographics
#establish bins for ages
#categorize the existing players using the age bins, use pd.cut()
#calculate numbers and percentages by age group
#create a summary data frame to hold the results
#optional: round the percentage column to two decimal points
#display age demographics table

In [26]:
#purchase analysis (age)
#bin the data frame by age
#run calculation to obtain purchase count, average purchase price, total purchase value, average total purchase per person
#create a summary data frame to hold the results
#optional: give displayed data cleaner formatting
#display the summary data frame

In [27]:
#top spenders
#run calculation to obtain purchase count, average purchase price, total purchase value
#create a summary data frame to hold the results
#sort the total purchase value column in descending order
#optional: give displayed data cleaner formatting
#display a preview of the summary data frame

In [28]:
#most popular items
#retrieve item id, item name, and item price columns
#group by item id and item name. perform calculations to obtain purchase count, average item price, and total purchase value
#create a summary data frame to hold the results
#sort the purchase count column in descending order
#optional: give displayed data cleaner formatting
#display a preview of the summary data frame

In [29]:
#most profitable items
#sort the above table by total purchase value in descending order
#optional: give the displayed data cleaner formatting
#display a preview of the data frame